*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.my_Nav a{
    color: rgb(255, 123, 0) !important;
    font-weight: bold;
    transition: .5s;
}
.my_Nav a:hover{
    background-color: rgb(255, 174, 0);
    border-radius: 20px;
    margin-right: 5px;
    color: white !important;
}
.my-header{
    width: 100%;
    height: 500px;
    position: relative;
    background: url('/public/headerphoto.webp') no-repeat center;
    background-size: cover;
}
.my-header-color{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.521);
}
.my-header-content{
    width: 50%;
    position: absolute;
    top: 30%;
    left: 6%;
    color: white;
}
.my-header-content button{
    background-color:rgb(255, 123, 0) ;
    color: white;
    font-weight: bold;
    transition: .5s;
    margin-top: 30px;
}
.my-header-content button:hover{
    transform: scale(1.1);
    border: 2px solid rgb(255, 123, 0);
    background-color: rgba(255, 123, 0, 0.479);
}
/* -----------------slider 1 style here---------- */
.slider_section{
    margin:-100px auto 100px ;
}
.slider_item_{
    height: 260px;
    text-align: center;
}
.slider_item_ img{
    height: 70px;
    margin: 0 auto;
    background-color:rgba(228, 205, 205, 0.377);
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border:  1px solid rgb(235, 73, 8);
}
.slider_item_small{
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 30px;
    box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.493);
    width: 70%;
    height: 90%;
    margin: 10px auto;
    padding: 20px;
    border:  1px solid rgb(235, 73, 8);
    cursor: pointer;
    
}
.slider_item_small h3,h5{
    color:black;
}
.slider_item_small h5{
    margin-right: 40px;
}
.slider_item_small_h5{
    background-color:rgba(235, 76, 36, 0.774);
   position: absolute;
   bottom: 0;
   padding-top: 10px;
    width: 124%;
    margin-left: -30px;
    opacity: 0;
    transition: .4s;
}
.slider_item_small:hover .slider_item_small_h5{
    opacity: .9;
}
/* ---------------------slider2 here---------------- */
.slider2_section .slick-prev:before , .slider2_section .slick-next:before {
    color: red;
}
.slider2_section h5{
    color: red;
}
.auto-section{
    padding: 20px 10px;
    background-color: blanchedalmond;
}
.btn-one,.btn-two{
    transition: .4s;
}
.btn-one:hover{
   border: 2px solid rgb(0, 119, 255);
   background-color: blanchedalmond;
   transform: scale(1.1) translateX(-20px);
   color: rgb(0, 119, 255);
}
.btn-two:hover{
    border: 2px solid rgb(226, 66, 38);
    background-color: blanchedalmond;
    transform: scale(1.1) translateX(20px);
    color: rgb(226, 66, 38);
}
.search-div{
    position: relative;
    margin: 10px auto;
    width: fit-content;
}
.search-div button{
    margin: 0 auto;
    background-color:rgba(255, 123, 0, 0.623);
    color: white;
}
.search-div button:hover{
    color:rgb(255, 123, 0) ;
    border: 1px solid rgb(255, 123, 0);
}
.search-div button span{
    font-size: 20px;
    margin-left: 10px;
}
.search-div .arrowleft{
    position: absolute;
    left:3%;
    top: 30%;
    color:rgb(255, 123, 0);
}
.search-div img{
    width: 25px;
    height: 25px;
    position: absolute;
    right:2%;
    bottom:6px;
}
.my-form{
    position: relative;
    width: fit-content;
    margin: 10px auto 100px;
}
.my-form input{
 padding-left: 100px;
}
.my-form .form-search-icon{
    color: gray;
    position: absolute;
    left: 4%;
    top: 30%;
}
.car_item{
    border: 1px solid gray;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}
.car_item:hover,.change:hover{
    background-color:rgba(255, 123, 0, 0.623);
}
.car_item:hover h3,.change:hover h3{
    color: white;
}
.car_item img,.change img{
    width: 70px;
    height: 50px;
}
.change{
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    border: 2px solid rgba(255, 123, 0, 0.993);
}